*{
    margin: 2px;
    padding: 6;
    box-sizing: border-box;
}
header nav ul li{
    display: inline-block;
    list-style: none;
}
header nav ul{
    display: flex;
    margin-top: 20px;
}
.Logo{
    margin-top: 20px;
    margin-left: 82px;
}
.whatsapp{
    display: flex;
    margin-left: 390px;
    padding: px;
    
}
li{
    margin-top: 20px;
    padding: 3px;
    font-family: "Open Sans", sans-serif;
}
.menu{
    padding-bottom: 10px;
}
.stroyka{
    display: block;
    background-color: #6B6B6B

}
.stroyka{
    display: inline-block;
    margin-left: 90px;
    width: 1541px;
    height: 625px;
    
}
.ru{
    
}
.text{
    margin-left: 400px;
    margin-top: 140px;
    font-size: 96px;
    color: #fff;
    font-family: "Playfair Display SC", serif;
}
.info{
    margin-left: 540px;
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.images1{
    margin-left: 220px;
    padding-top: 40px;
}
.btn1{
    color: rgb(0, 0, 0);
    background-color: #ff583365;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px; 
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;;
    margin-left: 240px;
    box-shadow: 0px 5px 15px rgb(0,  0, 0, 0.3);
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn1:hover{
    cursor: pointer;
    background-color:  #FF5733;
    color: #fff;
}
.btn1:active{
    transform: scale(1.05);
}


.btn2{
    background: #10b1f654;
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;


    
}
.btn2:hover{
    cursor: pointer;
    background-color: #10B1F6;
    color: #fff;
}
.btn2:active{
    transform: scale(1.05);
}
.btn3{
    display: inline-block;
    margin-left: 33px;
    background-color: rgba(0, 128, 0, 0.252);
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn3:hover{
    cursor: pointer;
    background-color: #1BF030;
    color: #fff;
}
.btn3:active{
    transform: scale(1.05);
}
.ru{
padding-top: 2px;
    border: 2px solid;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.453);
}
.en{
    color: rgba(128, 128, 128, 0.453);
}
.us{
    color: rgba(128, 128, 128, 0.453);
}
.images2{
    margin-left: 220px;
    padding-top: 40px;
}
.btn4{
    color: rgb(0, 0, 0);
    background-color: #ffd10286;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px; 
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;;
    margin-left: 240px;
    box-shadow: 0px 5px 15px rgb(0,  0, 0, 0.3);
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn4:hover{
    cursor: pointer;
    background-color: #E3F516;
    color: #fff;
}
.btn4:active{
    transform: scale(1.05);
}
.btn5{
    background: #1448c9a4;
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
    
}
.btn5:hover{
    cursor: pointer;
    background-color: #1446F9;
    color: #fff;
}
.btn5:active{
    transform: scale(1.05);
}
.btn6{
    display: inline-block;
    margin-left: 33px;
    background-color: rgba(235, 103, 205, 0.549);
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;

}
.btn6:hover{
    cursor: pointer;
    background-color: #FF12D9;
    color: #fff;
}
.btn6:active{
    transform: scale(1.05);
}
.images3{
    margin-left: 220px;
    padding-top: 40px;
}
.btn7{
    color: rgb(0, 0, 0);
    background-color: #ff583365;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px; 
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;;
    margin-left: 240px;
    box-shadow: 0px 5px 15px rgb(0,  0, 0, 0.3);
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn7:hover{
    cursor: pointer;
    background-color:  #FF5733;
    color: #fff;
}
.btn7:active{
    transform: scale(1.05);
}
.btn8{
    background: #f4700472;
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn8:hover{
    cursor: pointer;
    background-color: #F98E10;
    color: #fff;
}
.btn8:active{
    transform: scale(1.05);
}
.btn9{
    display: inline-block;
    margin-left: 33px;
    background-color: rgba(0, 128, 0, 0.252);
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn9:hover{
    cursor: pointer;
    background-color: #1BF030;
    color: #fff;
}
.btn3:active{
    transform: scale(1.05);
}
.images4{
    margin-left: 220px;
    padding-top: 40px;  
}
.btn10{
    color: rgb(0, 0, 0);
    background-color: #adadad43;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px; 
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;;
    margin-left: 240px;
    box-shadow: 0px 5px 15px rgb(0,  0, 0, 0.3);
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn10:hover{
    cursor: pointer;
    background-color: #ADADAD;
    color: #fff;
}
.btn10:active{
    transform: scale(1.05);
}
.btn11{
    background-color: rgba(9, 3, 3, 0.649);
    color: black;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 380px;
    height: 70px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 30px;
    transition: 0.3s;
    font-family: "Playfair Display SC", serif;
}
.btn11:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
}
.btn11:active{
    transform: scale(1.05);
}
.infolast{
   
        display: block;
        background-color: #000000;
        display:  inline-block;
        margin-left: 94px;
        width: 1540px;
        height: 445px;
        
    
}
.logolast{
    padding: ;
    display: flex;
    margin-left: 700px;
    margin-top: 100px;
}
.app1{
    display: inline;
    margin-left: 720px;
    
}
.app2{
    display: inline;
}
p{
    color: #fff;
    margin-left: 540px;
    font-family: "Open Sans", sans-serif;
}

